@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Lato';
    color: #272727;
}

/* ----------------------------------- banner -----------------------------------*/

.banner{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 0 150px;
    background: rgba(229, 84, 115, 0.1);
}

.banner-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-info h1{
    font-size: 50px;
    font-weight: 800;
}

.banner-info p{
    opacity: 60%;
    font-size: 16px;
    padding: 30px 0;
}

.banner-info button{
    width: 130px;
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    background-color: #E55473;
    transition: 0.3s;
}

.banner-info button:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.banner-image {
    display: flex;
    align-items: last baseline;
}

.banner-image img{
    width: 450px;
    height: 600px;
}

/* ----------------------------------- featured -----------------------------------*/

#featured{
    margin: 100px 0;
}

.featured-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px;
}

.featured-title h1{
    font-size: 35px;
    font-weight: 600;
}

.featured-title p{
    opacity: 60%;
    font-size: 16px;
    padding: 20px 0;
}

.featured, .featured-info{
    gap: 20px;
    display: flex;
    justify-content: center;
}

.featured-content{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    border-radius: 300px 300px 0px 0px;
}

.featured .one{
    background: rgba(167, 33, 98, 0.15);
}

.featured .two{
    background: rgba(5, 151, 160, 0.15);
}

.featured .three{
    background: rgba(71, 125, 17, 0.15);
}

.featured-info p{
    gap: 20px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

/* ----------------------------------- speciality -----------------------------------*/

#speciality {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin: 110px;
    padding: 85px 175px;
    gap: 60px;
    text-align: center;
    font-weight: 600;
    background-color: rgba(39, 39, 39, 0.05);
}

.speciality p{
    padding: 20px;
}

/* ----------------------------------- discount -----------------------------------*/

.discount {
    gap: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgba(229, 84, 115, 0.05);
}

.discount .discount-info {
    text-align: center;
}

.discount .discount-info h4 {
    font-size: 40px;
    font-weight: 800;
}

.discount .discount-info p {
    opacity: 60%;
    font-size: 16px;
    font-weight: 400;
    padding: 30px 0;
}

.discount .discount-info button{
    width: 130px;
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    background-color: #E55473;
    transition: 0.3s;
}

.discount .discount-info button:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.discount .discount-image img{
    height: 300px;
}

/* ----------------------------------- instagram -----------------------------------*/

.instagram {
    display: flex;
    justify-content: center;
    gap: 10px 25px;
    margin: 0 100px;
}

.instagram-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 100px;
}

.instagram-title h1{
    font-size: 35px;
    font-weight: 600;
}

.instagram-title p{
    opacity: 60%;
    font-size: 16px;
    padding: 20px 0;
}

.instagram-image{
    transition: 0.3s;
}

.instagram-image:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.instagram img {
    width: 100%;
    height: 100%;
}

/* ----------------------------------- subscribe -----------------------------------*/

#subscribe{
    margin: 100px;
}

.subscribe {
    text-align: center;
    background-image: url("./Asset/13.png");
    background-repeat: no-repeat;
    padding: 100px;
    margin-bottom: 130px;
    background-size: cover;
}

.subscribe-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.subscribe-title h1{
    font-size: 35px;
    font-weight: 600;
}

.subscribe-title p{
    opacity: 60%;
    font-size: 16px;
    padding: 20px 0;
}

.subscribe .subscribe-form{
    padding: 10px;
}

.subscribe .subscribe-form input {
    width: 600px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 8px;
}

.subscribe button{
    padding: 20px 35px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #E55473;
    transition: 0.3s;
}

.subscribe button:hover{
    cursor: pointer;
    transform: scale(1.02);
}


/* ----------------------------------- footer -----------------------------------*/


footer {
    background-color: #111010;
    text-align: center;
    padding: 100px 0px;
}

footer h1{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}

footer h2{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 70%;
    padding: 20px;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    opacity: 40%;
}